h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

:root {
    --light-color: #F5F5F7;
    --dark-color: #221F20;
    --container-padding-inline: 13%;
    --footer-padding-inline: 10%;

    @media screen and (max-width: 768px) {
        --container-padding-inline: 6%;
        --footer-padding-inline: 6%;
    }


    @media screen and (max-width: 576px) {
        --container-padding-inline: 15px;
        --footer-padding-inline: 15px;
    }

}

html {
    font-family: "Inter", sans-serif;
}

.container {
    padding: 0 var(--container-padding-inline);
}








.title {
    color: var(--dark-color, rgb(34, 31, 32));

    text-align: center;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;

    span {
        position: relative;
    }

    span::after {
        content: "";
        display: block;
        position: absolute;
        width: 75px;
        height: 2px;
        bottom: -1px;
        right: 0;
        background-color: black;
    }


}

.promo {
    position: relative;
    min-height: 100vh;
    background: url(../img/main_bg.jpg) center center / cover no-repeat;
    padding-top: 75px;


    @media screen and (max-width: 768px) {

        & {
            background-image: url(../img/Bg_tablet.jpeg)
        }
    }

    @media screen and (max-width: 576px) {
        min-height: 500px;
        padding-top: 50px;
    }

}





.promo__title {
    color: var(--light-color, rgb(245, 245, 247));
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
        font-size: 48px;
    }


    @media screen and (max-width: 576px) {
        font-size: 26px;
    }

}

.promo__subtitle {
    color: var(--light-color, rgb(245, 245, 247));
    font-size: 32px;
    font-weight: 100;
    line-height: normal;
    margin-top: 124px;


    @media screen and (max-width: 768px) {

        & {
            margin-top: 80px;
        }
    }


    @media screen and (max-width: 576px) {
        margin-top: 30px;
        font-size: 16px;
    }

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 160px;
    min-height: 38px;
    border: 1px solid rgb(245, 245, 247);
    background: rgba(217, 217, 217, 0);
    color: var(--light-color, rgb(245, 245, 247));
    font-size: 16px;
    font-weight: 100;
    line-height: normal;
    margin-top: 20px;
    padding: 3px 10px;
    cursor: pointer;
    transition: all 0.3s ease-out;


    @media screen and (max-width: 576px) {
        font-size: 14px;
        width: 120px;
        min-height: 30px;
    }


}

.btn:hover {
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
    font-weight: 500;
}


.promo__address {
    position: relative;
    margin-top: 100px;
    color: var(--light-color, rgb(245, 245, 247));
    font-size: 16px;
    font-weight: 100;
    line-height: normal;

    address {
        font-style: normal;
    }

    a {
        color: inherit;
        text-decoration: none;
    }


    &::before {
        content: "";
        display: block;
        width: 40px;
        height: 49px;
        background: url(../img/Arrow.svg) center center / cover no-repeat;
        position: absolute;
        left: -45px;
        top: -17px;


    }

    @media screen and (max-width: 768px) {

        & {
            margin-top: 80px;
        }


        &::before {
            left: -40px;
        }
    }

    @media screen and (max-width: 750px) {


        &::before {
            display: none;
        }
    }


    @media screen and (max-width: 576px) {


        margin-top: 233px;
    }

}




.keywords {
    position: absolute;
    bottom: 0;
    padding: 0 360px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);




    li {
        list-style-type: none;
        color: var(--light-color, rgb(245, 245, 247));
        font-size: 10px;
        font-weight: 100;
        line-height: normal;
    }

    @media screen and (max-width: 1440px) {
        & {
            padding: 0 20px;
        }
    }

    @media screen and (max-width: 768px) {
        & li {
            display: none;
        }

        & li:nth-child(-n+9) {
            display: list-item;
        }


        /* &li:nth-last-child(-n+6){
    display: none; */
        /* } */

    }


    @media screen and (max-width: 576px) {

        & {
            margin-top: 10px;
        }


        & li:nth-child(-n+9) {
            display: none;
        }

        & li:nth-child(-n+4) {
            display: list-item;
        }

        /* &li:nth-last-child(-n+11){
    display: none; */

    }



}


.about {
    background: var(--light-color, rgb(245, 245, 247));
    padding-top: 80px;
}



.about__title {
    color: var(--dark-color, rgb(34, 31, 32));
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.about__text {
    margin-top: 20px;
    width: 1100px;
    color: var(--dark-color, rgb(34, 31, 32));
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;

    span {
        color: rgb(165, 165, 165);
    }

    @media screen and (max-width: 1440px) {
        width: 100%;

    }

    @media screen and (max-width: 768px) {
        font-size: 24px;
        line-height: 29px;

    }

    @media screen and (max-width: 576px) {
        font-size: 16px;
        line-height: 19px;

    }



}


.services {
    column-gap: 10px;
    margin-top: 80px;
    display: flex;


    @media screen and (max-width: 768px) {

        display: block;
        margin-top: 40px;

        & .services__text,
        .services__items {
            width: 100%;
            margin-top: 40px;
        }
    }


    @media screen and (max-width: 576px) {

        margin-top: 20px;


        & .services__text,
        .services__items {

            margin-top: 20px;
        }

        & .services__items>.services__items-subtitle {
            font-size: 12px;
        }


    }


}

.services__items {
    width: 50%;

    ul {
        margin-top: 20px;
        padding: 0;
    }

    li {
        position: relative;
        list-style-type: none;
        margin-top: 10px;
        color: var(--dark-color, rgb(34, 31, 32));
        font-size: 16px;
        font-weight: 400;
        line-height: normal;


        &:first-child::before {
            content: "";
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            background: url(../img/Camera.svg) center center / cover no-repeat;
            left: -30px;
            top: 2px;
        }


        &:nth-child(3)::before {
            content: "";
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            background: url(../img/Edit.svg) center center / cover no-repeat;
            left: -30px;
            top: 2px;
        }


        @media screen and (max-width: 768px) {

            &:first-child:before,
            &:nth-child(3)::before {
                left: -25px;
            }
        }


        @media screen and (max-width: 576px) {
            & {
                font-size: 14px;
            }

            &:first-child:before,
            &:nth-child(3)::before {
                display: none;
            }

        }

    }


}



.services__items-subtitle {
    color: var(--dark-color, rgb(34, 31, 32));
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    font-style: italic;

}


.services__text {
    width: 50%;
    color: var(--dark-color, rgb(34, 31, 32));
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;

@media screen and (max-width: 576px) {
        & {
            font-size: 12px;
            letter-spacing: 2%;
        }}



}


.works {
    background: var(--light-color, rgb(245, 245, 247));
    padding-top: 80px;

}

.works__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 695px 695px ; */
    grid-template-rows: repeat(2, 1fr) 1.5fr;
    /* grid-template-rows: repeat(2, 463px) 700px; */

    column-gap: 30px;
    row-gap: 50px;
    margin-top: 50px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
}


.inspiration {
    background: var(--light-color, rgb(245, 245, 247));
    padding-top: 80px;

}


.inspiration__grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    margin-top: 50px;
    gap: 30px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
}


#item-4 {
    grid-row: 1/3;
    grid-column: 4;
}


#item-6 {
    grid-row: 2;
    grid-column: 2/4;
}



.customers {
    padding-top: 59px;
    padding-bottom: 100px;
    background-color: var(--light-color, rgb(245, 245, 247));
}

.customers__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 53px;
    gap: 30px;


    img {
        box-shadow: 7px 7px 12px 0px rgba(0, 0, 0, 0.25);
        max-width: 100%;
    }
}



footer {
    background-color: rgb(0, 0, 0);
    padding: 88px var(--footer-padding-inline);


    .footer__address {
        color: var(--light-color, rgb(245, 245, 247));
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    address {
        font-style: normal;
    }
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: var(--light-color, rgb(245, 245, 247));
        text-decoration: none;
    }
}

.footer__social ul {
    display: flex;
    column-gap: 30px;
    list-style: none;
}


.footer__social li {
    width: 32px;
    height: 32px;
    border: 1px solid var(--light-color);
    background-color: rgba(217, 217, 217, 0);

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}